@CHARSET "UTF-8";

body {
	font-family: monospace;
	color: #000;
	font-size: 1em;
	background-color: rgba(0, 138, 255, 0.24);
}

.wrapper {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	height: 100%;
	padding: 10px;
	box-shadow: 0 0 10px;
}

td {
	padding: 5px;
}
